# String in Python

In [1]:
data = "Python Language"  #using double quote
print(data)
print(type(data))

Python Language
<class 'str'>

In [2]:
data = 'Python Language'  #using single quote
print(data)
print(type(data))

Python Language
<class 'str'>

In [3]:
data = 'Python Language "Hello world' #Using 'double quote' between single quoted string:
print(data)
print(type(data))

Python Language "Hello world
<class 'str'>

In [4]:
data = "Python Language 'Hello world" #Using 'single quote' between double quoted string:
print(data)
print(type(data))

Python Language 'Hello world
<class 'str'>

In [5]:
data = 'Python Language\ 123 "Hello world"' #Use of backslash
print(data)
print(type(data))

Python Language\ 123 "Hello world"
<class 'str'>

In [6]:
# Multiline string
a = "Line1 python"\
"Line2 python"\
"Line3 python"
print(a)
print(type(a))

Line1 pythonLine2 pythonLine3 python
<class 'str'>

In [7]:
# Multiline string - Using triple double quote
b = """ Line1 python
Line2 python
Line3 python """ 
print(b) 
print(type(b))

 Line1 python
Line2 python
Line3 python
<class 'str'>

# String Concatenation

In [8]:
"1" + "1" #string concatination

'11'

In [9]:
1 + 1  #integar addition

2

#### 1. Using + Operator

In [11]:
# Using + Operator:
a = input("Enter no1: ") #string concatination
b = input("Enter no2: ")
print(type(a), type(b))
print(a+b)

Enter no1:  7
Enter no2:  8

<class 'str'> <class 'str'>
78

In [12]:
a = int(input("Enter no1:")) #typecasting
b = int(input("Enter no2:"))
print(type(a), type(b))
print(a+b)

Enter no1: 7
Enter no2: 8

<class 'int'> <class 'int'>
15

In [14]:
# "USE OF \n"
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"
card = "NED University\nStudent roll no: " + str(roll_no) + "\nStudent name: " + name + "\nFather's name: " + fname + "\nContact no: " + contact_no
print(card)

NED University
Student roll no: 200
Student name: Muhammad Qasim
Father's name: Muhammad Aslam
Contact no: 03152968211

In [21]:
# "USE OF \t"
card = """NED University
Student roll no: \t\t 200
Student Name = \t\t\t Muhammad Qasim
Father's Name = \t\t Muhammad Aslam
Contact no = \t\t\t 03152968211"""
print(card)

NED University
Student roll no: 		 200
Student Name = 			 Muhammad Qasim
Father's Name = 		 Muhammad Aslam
Contact no = 			 03152968211

#### 2. # Using format() function

In [23]:
# Using format() function
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"
card = """NED University
Student roll no: {}
Student Name: {}
Father's Name: {}
Contact no: {} """ .format(roll_no, name, fname, contact_no)
print(card)

NED University
Student roll no: 200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [26]:
# Using format() function
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"
card = """NED University
Student roll no: {2}
Student Name: {0}
Father's Name: {3}
Contact no: {1} """ .format(name, contact_no, roll_no, fname)
print(card)

NED University
Student roll no: 200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

#### 3. Using f-string:

In [27]:
# Using f-string:
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"
card = f"""NED University
Student roll no: {roll_no}
Student Name: {name}
Father's Name: {fname}
Contact no: {contact_no} """
print(card)

NED University
Student roll no: 200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [29]:
roll_no = input("Enter roll no: ")
name = input("Name: ")
fname = input("Father's Name: ")
contact_no = input("contact no: ")
print('=====================')

card = f"""NED University
Student roll no:{roll_no}
Student Name: {name}
Father's Name: {fname}
Contact no: {contact_no}"""
print(card)

Enter roll no:  200
Name:  Muhammad Qasim
Father's Name:  Muhammad Aslam
contact no:  03152968211

=====================
NED University
Student roll no:200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [30]:
a = f"""(2+2={2+2})"""
print(a)

(2+2=4)

#### 4. Using % operator

In [31]:
roll_no = 111
name = "Muhammad qasim"
"Student name %s \n roll no: %d" % (name,roll_no)

'Student name Muhammad qasim \n roll no: 111'

# Typecasting

In [32]:
a = "7"   #string
a = int(a) #int converts string into integar
print("value of a is: ", a, type(a))

value of a is:  7 <class 'int'>

In [33]:
a = "7"   #string
a = float(a) #int converts string into float
print("value of a is: ", a, type(a))

value of a is:  7.0 <class 'float'>