## List

In [1]:
#        0                1             2  index
a = ['Muhammad Aslam',"Muhammad Qasim",30] # value,element
a[1] #calling using index number

'Muhammad Qasim'

In [2]:
a[1] = 'Qasim' #update/calling
print(a)

['Muhammad Aslam', 'Qasim', 30]

## Tuple:

In [3]:
#     0   1   2
a = ('X','Y','Z')
#.   -3  -2  -1
print(a)

('X', 'Y', 'Z')

In [7]:
# Tuple using loop
a = ('X','Y','Z')
for i in a:
    print(i)

# a[0] #positive index
# a[-1] #negative index

X
Y
Z

'X'

In [8]:
#     0  1  2
a = ('X','Y','Z')
#.   -3  -2 -1
print(a)
print(id(a))

a = ('Pakistan','Y',"Z") # re assign we change whole variable
print(a)
print(id(a))

('X', 'Y', 'Z')
2135820734976
('Pakistan', 'Y', 'Z')
2135819576384

In [9]:
# To know tuple methods()
a = ('Pakistan','Y',"Z") 
[i for i in dir(a) if "__" not in i]

['count', 'index']

### Tuple Methods:

In [11]:
# count()
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

In [12]:
# index()
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

## Set:

In [13]:
a = {1,2,3,4,3,7,8,1,1} # set/unique
print(a)

{1, 2, 3, 4, 7, 8}

In [15]:
a = {'c',1,2,3,3,3, 'a',20,'b','c'}
print(a)

{'c', 1, 2, 3, 20, 'a', 'b'}

In [18]:
a={'d',4,33,'a','a'}
print(a)

{'d', 33, 4, 'a'}

In [17]:
# To convert set into list - because we cannot perform opeartions on set
course = ['AI',"AI","DS","DS"] # list
print(course, type(course))

course = set(course) # set converted
print(course, type(course))

course = list(course)
print(course, type(course)) # converted into list

course.reverse() # reverse order
print(course, type(course))

['AI', 'AI', 'DS', 'DS'] <class 'list'>
{'DS', 'AI'} <class 'set'>
['DS', 'AI'] <class 'list'>
['AI', 'DS'] <class 'list'>

## Quiz Question

In [19]:
a = [1,2,2,2,2,3, 'a','b','x'] # list
a = set(a) # set/unique #convert into unique values
print(a, type(a)) #to check type of a

#convert into list for apply any function on it
a = list(a)# now again change in list
print(a, type(a)) #to check type of a

a_string = [i for i in a] # all element
print(a_string)

a_string = [i for i in a if isinstance(i,str)] # all string
a_string = sorted(a_string)
print(a_string)

a_intiger = [i for i in a if isinstance(i,int)] # all int
a_intiger = sorted(a_intiger)
print(a_intiger)

a = a_string + a_intiger
print(a)

{1, 2, 3, 'x', 'a', 'b'} <class 'set'>
[1, 2, 3, 'x', 'a', 'b'] <class 'list'>
[1, 2, 3, 'x', 'a', 'b']
['a', 'b', 'x']
[1, 2, 3]
['a', 'b', 'x', 1, 2, 3]

## Dictionary:

In [1]:
a = {
    'fname':'Muhammad Aslam', 
     'name':"Muhammad Qasim",
     'age':30
    } 

print(a) 
a['name']

{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'age': 30}

'Muhammad Qasim'

In [14]:
d = {
    'a':"Pakistan",
    20: "Hello world"
    }
print(d)
print(d[20])
print(d['a'])

{'a': 'Pakistan', 20: 'Hello world'}
Hello world
Pakistan

In [2]:
data = {"roll_no": [1, 2, 3, 4]}
print(data) #dictionary
print(data['roll_no']) #list
print(data ['roll_no'][2]) #integar

{'roll_no': [1, 2, 3, 4]}
[1, 2, 3, 4]
3

In [3]:
#    0  1  2              3
a = [1, 2, 3, {'d': '1', 'name': 'Ali'}] #integar and dictionary
print(a)
print(a[-1]) #indexing
print(a[-1]['name']) #indexing

[1, 2, 3, {'d': '1', 'name': 'Ali'}]
{'d': '1', 'name': 'Ali'}
Ali

## Use of isinstance:

In [4]:
#    0  1  2              3
a = [1, 2, 3, {'d': '1', 'name': 'Ali'}] #integar and dictionary
print(a)
print(type(a))
isinstance(a, list) # match one data type with your datatype

[1, 2, 3, {'d': '1', 'name': 'Ali'}]
<class 'list'>

True

In [21]:
i = [1,23]

print(isinstance(i,str))
print(isinstance(i,list))
# print(isinstance(i,tuple))
print(isinstance(i,set))
print(isinstance(i,dict))
print(isinstance(i,float))
print(isinstance(i,bool))
print(isinstance(i,int))
print(isinstance(i,complex))

False
True
False
False
False
False
False
False

In [22]:
i = "Python"
print(isinstance(i,str))

True