# Variables in Python

In [1]:
# Example
name = "Hafsa Imtiaz"
print(name)
print (type(name)) #type tells class
print (id(name))  #id tells memory address

Hafsa Imtiaz
<class 'str'>
2788899238640

In [3]:
# Data type Examples
# Example#1 
a = 20   #integar
print(a, type(a), id(a))

b = 20.7  #float
print(b, type(b), id(b))

c = [1, 2, 3]    #list
print(c, type(c), id(c))

d = {1, 1, 1, 2, 5, 5, 2}  # set(it return only unique values)
print(d, type(d), id(d))

e = {"name": "Hafsa", "education": "BSIC"} # dictionary
print(e, type(e), id(e))

20 <class 'int'> 140737328309640
20.7 <class 'float'> 2788897832336
[1, 2, 3] <class 'list'> 2788899216704
{1, 2, 5} <class 'set'> 2788898646144
{'name': 'Hafsa', 'education': 'BSIC'} <class 'dict'> 2788899260928

In [4]:
# Example#2 
a = 7
print(a, type(a), id(a))
b = '7'
print(b, type(b), id(b))
c = 7.0
print(c, type(c), id(c))

7 <class 'int'> 140737328309224
7 <class 'str'> 140737328352720
7.0 <class 'float'> 2788896111248

In [5]:
# Shallow Copy Example
x = 6
y = 6
z = 6
print(id(x))
print(id(y))
print(id(z))

140737328309192
140737328309192
140737328309192

In [6]:
# Deep Copy Example
a = 7
b = '7'
print(id(a))
print(id(b))

140737328309224
140737328352720

# Python Operations

In [3]:
# Arithmetic Operators
print(2 + 7, "Addition")
print(7 - 2, "Subtraction")
print(7 * 2, "Multiplication")
print(7 / 2, "Division")
print(11 % 3, "Modulus") #modulus is the remainder in division
print(2 ** 2, "Exponent")
print(7 // 2, "Floor division") #it only tells value before point.

9 Addition
5 Subtraction
14 Multiplication
3.5 Division
2 Modulus
4 Exponent
3 Floor division

In [2]:
# Assignment Operators
a = 7
print(a)
b = 2
print(b)

7
2

In [4]:
# Comparision Operators: Equal to
a = 7  #Example#1
b = 7
print(a == b)

c = 7  #Example#2
d = 9
print(c == d)

True
False

In [5]:
# Comparision Operators: Greater than / Less than
a = 7  #Example#3
b = 9
print(a > b)

c = 7  #Example#4
d = 9
print(c < d)

False
True

In [6]:
# Comparision Operators: Greater than or equal to / Less than  or equal to
a = 10  #Example#5
b = 9
print(a >= b)

c = 9  #Example#6
d = 9
print(c <= d)

True
True

In [8]:
# Comparision Operators: Not equal to
a = 9  #Example#7
b = 9
print(a != b)

False

In [9]:
# Logical Operator: 'and' operator
 #      1        2        3       4
print(True and True and True and True)
print(True and False and True and True)
print(True and False and True and False)
print(False and False and False and False)

True
False
False
False

In [1]:
# Logical Operator 'and'
x = 5
print(x > 3 and x < 10)

True

In [10]:
# Logical Operator: 'or' operator
#      1        2        3       4
print(True or True or True or True)
print(True or False or True or True)
print(True or False or True or False)
print(False or False or True or False)
print(False or False or False or False)

True
True
True
True
False

In [2]:
# Logical Operator - 'or'
x = 5
print(x > 3 or x < 4)

True

In [3]:
# Logical Operator - 'not'
x = 5
print(not(x > 3 and x < 10))

False

In [4]:
# Identity Operator - 'is'
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# returns True because z is the same object as x

print(x is y)
# returns False because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [5]:
# Identity Operator - 'is not'
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
# returns False because z is the same object as x

print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [6]:
# Membership Operator: 'in'
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [7]:
# Membership Operator: 'not in'
x = ["apple", "banana"]
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True